/* Modal.css */

.modal-overlay {
  position: fixed;

  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.89); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  border-radius: 2%;
}

.modal-content {
  color: rgb(100, 229, 247);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  max-width: 80%; /* Adjust the modal width as needed */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}
.close-icon:hover {
  color: rgb(76, 206, 238);
}

.open-modal-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.link {
  color: rgb(200, 202, 202);
}
/* YourComponent.css */

.image-row-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to a new line if the container is not wide enough */
}
